<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'users/css/dashboard.css' %}"> 
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet">

    </head>


    <body>
        <div class="header">
            <a href="/{{user.id}}/edit">Edit your account</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="container">

            <div class="queue">
                <h3>Queue</h3>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>View</th>
                    </tr>
                    {% for user in users %}
                    
                    <tr>
                        <td>{{user.firstName}}</td>
                        <td><a href="{{PLACEHOLDER}}">View</a></td>
                    </tr>
                    {% endfor %}
                </table>
                
            </div>
            <div class="userInfo">
                <h1>HI {{user.firstName}}</h1>
                <h3>You entered: {{user.line.joined}}</h3>
                <h3>Your position: {{PLACEHOLDER}}</h3>
                <a href="/deleteLine">Leave</a>
                <br>
                <a href="/logout">Logout</a>
            </div>
        </div>
        
    </body>
</html>