<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'users/css/dashboard.css' %}"> 
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="userInfo">
            <h1>HI</h1>
            <h3>You entered: {{user.createdAt}}</h3>
            <h3>Your position: {{PLACEHOLDER}}</h3>
            <a href="/deleteLine">Leave</a>
            <br>
            <a href="/logout">Logout</a>
        </div>
        <a href="/{{user.id}}/edit">Edit your account</a>
        
    </body>
</html>