<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'users/css/dashboard.css' %}"> 
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <a class="edit" href="/{{user.id}}/edit">Edit your account</a>
                <a class="logout" href="/logout">Logout</a>
            </div>
            <div class="subContainer">
                {% if members %}
                    <div class="queue">
                        <h3>Queue</h3>
                        {% for member in members %}
                            <div class = "userInfo">
                                <img src="{% static 'restaurants/images/userIcon.png' %}">
                                <div class = "userText">
                                    <p>Party Name: {{member.lastName}} </p></br>
                                    <p>Party Size: {{member.partySize}}</p></br>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="user">
                        <h1>Hi {{user.firstName}}</h1>
                        <h3>You are in line at {{restaurant}}</h3>
                        <h3>You entered at: {{user.time.time}}</h3>
                        <h3>Your position is: {{position}}</h3>
                        <a href="/{{user.id}}/line/destroy">Leave</a>
    
                    </div>
                {% else %}
                    {% if user.table %}
                        <div class="user">
                            <h1>Hi {{user.firstName}}</h1>
                            <h3>You are currently dining at {{restaurant}}</h3>
                            <h3>You were seated at {{user.time.time}}</h3>
                        </div>
                    {% else %}
                        <div class="user">
                            <h1>Hi {{user.firstName}}</h1>
                            <h3>You are not currently in any line. Please visit your restaurant of choice to be placed in their queue</h3>
                        </div>
                    {% endif %}
                {% endif %}
                
            </div>
        </div>
        
    </body>
</html>