<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Edit User</title>
    </head>
    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action='/users/{{ user.id }}/update' method='POST'>
            {% csrf_token %}
            first name, last name, email, password, confirm
            <h3>First Name:</h3>
            <input type='text' name='firstName'><br>
            <h3>Last Name:</h3>
            <input type='text' name='lastName'><br>
            <h3>Email:</h3>
            <input type='email' name='email'><br>
            <h3>Password:</h3>
            <input type='password' name='password'><br>
            <h3>Confirm Password:</h3>
            <input type='password' name='confirm'><br>
            <input type='submit' value='Submit'>
        </form>
        <a href='/users/dashboard'>Cancel</a>
    </body>
</html>