<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Edit User</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'users/css/editUser.css' %}"> 
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet">

    </head>
    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="container">
            <div class="edit">
                <form action='/users/{{ user.id }}/update' method='POST'>
                    {% csrf_token %}
                    <h3 class="first">First Name:</h3>
                    <input type='text' name='firstName' placeholder="{{user.firstName}}"><br>
                    <h3 class="last">Last Name:</h3>
                    <input type='text' name='lastName' placeholder="{{user.lastName}}"><br>
                    <h3 class="email">Email:</h3>
                    <input type='email' name='email' placeholder="{{user.email}}"><br>
                    <h3 class="password">Password:</h3>
                    <input type='password' name='password'><br>
                    <h3>Confirm Password:</h3>
                    <input type='password' name='confirm'><br>
                    <input class="button" type='submit' value='Submit'>
                </form>
                <a class="cancelLink" href='/users/dashboard'>Cancel</a>
            </div>
        </div>
    </body>
</html>