<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login & Registration</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'users/css/style.css' %}"> 
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet">
    </head>


    <body>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }} banner"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="container">
            <a class="restaurant" href="/restaurants">Restaurant owner? Login here!</a>
            <img class="logo" src="{% static 'users/images/Subline_logo.png' %}">
            <div class="login">
                <h1>Login</h1>
                <form action="/users/login" method="POST">
                    {% csrf_token %}
                    <h4 class="email">Email:</h4>
                    <input class="emailBox" type="email" name="email"> 
                    <br>
                    <h4 class="password">Password:</h4>
                    <input class="passwordBox" type="password" name="password">
                    <br>
                    <input class="button" type="submit" value="Log In">
                </form>
                <a class="link" href="users/new">Not a user? Create an account!</a>
            </div>
        </div>
            

        
    </body>
</html>