*{
    padding: 0px;
    margin: 0px;
    font-family: 'Saira', sans-serif;
    color: rgb(0,27,45);
    text-align: center;

}

.userInfo{
    border: 2px solid black;
    width: 320px;
    height: 300px;
    margin: auto;
    display: inline-block;
}