*{
    padding: 0px;
    margin: 0px;
    font-family: 'Saira', sans-serif;
    color: rgb(0,27,45);
    text-align: center;

}

html, body{
    height: 100%;
}

.container{
    background: url('../images/dashboard.jpg') no-repeat;
    background-size: cover;
    width: auto;
    height: 100%;
    
}

.header{
    display: block;
    width: auto;
    height: 10%;
}

.subContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    flex-wrap: wrap;
}

.queue{
    height: 360px;
    width: 30%;
    border: 2px solid black;
    display: inline-block;
    vertical-align: top;
    background-color: whitesmoke;
    overflow: scroll;
    margin-left: 100px;
    opacity: .95;

}

.queue h3{
    text-decoration: underline;
}

.user{
    border: 2px solid black;
    width: 350px;
    height: 200px;
    display: inline-block;
    background-color: whitesmoke;
    opacity: .95;
    margin-right: 150px;

}

.queue .userInfo {
    margin-left: 15px;
    margin-top: 5px;
    display: inline-block;
    border: 1px solid rgb(0,27,45);
    width: 55%;
    padding: 1px;
}
.queue img {
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgb(255,99,107);
}

.queue .userInfo p {
    display: inline-block;
    vertical-align: top;
    padding: 0px;
}



.edit{
    color: white;
    top: 10px;
    right: 120px;
    position: fixed;
}

.logout{
    color: white;
    top: 10px;
    right: 50px;
    position: fixed;
}

@media screen and (max-width: 680px){
    .user{
        display: inline-block;
        margin:  auto;
        opacity: .95;
        order: 1;
    }

    .queue{
        margin: auto;
        opacity: .95;
        display: absolute;
        bottom: 0;
        order: 2;
        min-width: 250px;
    }

    .user h1{
        font-size: 14pt;
        margin-bottom: 20px;
        margin-top: 8px;
    }

    .user h3{
        font-size: 10pt;
        margin-bottom: 10px;
    }

    .queue .userInfo{
        width: 80%;
        margin-left: 0px;
        padding-top: 5px;

    }

    .userInfo p{
        font-size: 8pt;
        
    }

    .edit{
        right: 150px;
    }

    .subContainer{
        /* display: block; */
        flex-wrap: wrap-reverse;
        /* justify-content: end; */
        flex-direction: column;
    }
}