*{
    padding: 0px;
    margin: 0px;
    font-family: 'Saira', sans-serif;
    color: rgb(0,27,45);
    text-align: center;

}

html, body{
    height: 100%;
}

.container{
    background: url('../images/dashboard.jpg') no-repeat;
    background-size: cover;
    width: auto;
    height: 100%;
    
}

.queue{
    height: auto;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    vertical-align: top;
    background-color: whitesmoke;
}

.userInfo{
    border: 2px solid black;
    width: 320px;
    height: 300px;
    margin: auto;
    display: inline-block;
    background-color: whitesmoke;

}

.edit{
    color: white;
    top: 10px;
    right: 120px;
    position: fixed;
}

.logout{
    color: white;
    top: 10px;
    right: 50px;
    position: fixed;
}