*{
    padding: 0px;
    margin: 0px;
    font-family: 'Saira', sans-serif;
    color: rgb(0,27,45);
    text-align: center; 
}

html, body{
    height: 100%;
}

.container{
    background: url('../images/createUser.jpg') no-repeat;
    height: 100%;
    width: auto;
    background-size: cover;
}

h4{
    display: inline-block;
    margin-top: 10px;
}

.logo{
    height: 150px;
    width: 150px;
    margin-top: 40px;
}

.name{
    margin-right: 88px;

}

.email{
    margin-right: 91px;

}

.password{
    margin-right: 60px;
}

.button{
    margin-top: 30px;
}

.registration{
    background-color: white;
    width: 300px;
    margin: auto;
    border: 2px solid black;
}