*{
    padding: 0px;
    margin: 0px;
    font-family: 'Saira', sans-serif;
    color: rgb(0,27,45);
    text-align: center; 
}

html, body{
    height: 100%;
}

.container{
    background: url('../images/createUser.jpg') no-repeat;
    height: 100%;
    width: auto;
    background-size: cover;
}

.logo{
    height: 150px;
    width: 150px;
    margin-top: 40px;
}

.registration label {
    /* display: table-cell; */
    display: block;
    position: relative;
    margin: 5px;
}

.registration label span {
    font-weight: bold;
    position: absolute; 
    margin: 0px auto;
}

.registration label input {
    /* display: table-cell; */
    margin-left: 35%;
    width: 225px;
}

input.submitButton {
    display: block;
    margin: 10px auto;
}

.button{
    margin-top: 15px;
    width: auto;
}

.registration{
    background-color: white;
    width: 600px;
    margin: auto;
    border: 4px solid rgb(255,99,107);
    padding-bottom: 10px;
    opacity: .95;
}

@media screen and (max-width: 680px){
    input{
        border: 1px solid black;
    }
    .button{
        border-radius: 5px;
        width: 50px;
    }

    
}