* {
    padding: 0px;
    margin: 0px;
    font-family: 'Saira', sans-serif;
    color: rgb(0,27,45);
}
.header {
    display: inline-block;
    height: 100px;
    width: 100%;
}
.header img {
    height: 40px;
    line-height: 40px;
    display: inline-block;
}
.header h1 {
    display: inline-block;
    line-height: 40px;
    width: 80%;
    text-align: center;
    margin: 20px;
}
.header a {
    display: inline-block;
    line-height: 40px;
    font-weight: bold;
    text-decoration: none;
    color: rbg (255,99,107);
}

span {
    color: rgb(255,99,107);
    font-weight: bold;
}
.container {
    width: 100%;
    display: inline-block;
}

form{ 
    display: table;
}

p {
    display: table-row;
}

label {
    display: table-cell;
}

input {
    display: table-cell;
}