<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>{{restaurant.name}} Queue Dash</title>
    <link rel="stylesheet" href="{% static 'restaurants/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'restaurants/css/messages.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet">
</head>

<body>
    <div class="outer-container">
        <div class="header">
            <img src="{% static 'restaurants/images/Subline Primary_02.png' %}">
            <h1>{{restaurant.name}} Dashboard</h1>
            <a href="/restaurants/{{restaurant.id}}/edit">EDIT RESTAURANT</a> <span>|||</span> <a href="/logout">LOGOUT</a>
        </div>

        <div class = "messageBlock">
            {% if messages %}
            <ol>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ol>
            {% endif %}
        </div>

        <div class="container">

            <!--------------------- THIS SECTION IS FOR THE SCROLLING QUEUE DIV ON THE LEFT SIDE OF THE DASHBOARD -------------------------------->
            <div class="queue">
                <!-- This is an updated display that adds/removes users as they leave the queue or are sat at a table -->
                <h2>Party Queue</h2>
                <!-- This form is used to add user's to the queue, it should always remain at the top of the queue -->
                <form class='addToLine' action="/restaurants/addParty" method="POST">
                    {% csrf_token %}
                    <p>Email: </p><input type="email" name="partyEmail"></br>
                    <p>Size: </p><input type="text" name="partySize"> 
                    <input class="submitButton" type="submit" value="Add Party to Queue">
                </form>
                <p class="register">Unregistered Customer</p>

            <div class="border"></div>

                <!-- This is the iterative Django DB Call to display all users currently in the queue -->
                <div class="queueScroll">
                    {% for party in parties %}
                        <div class="userInfo">
                            <div class="modal-btn" 
                                data-firstName="{{party.firstName}}" 
                                data-lastName="{{party.lastName}}"
                                data-email="{{party.email}}"
                                data-time="{{party.time}}"
                                data-partySize="{{party.partySize}}"
                                data-id="{{party.id}}"
                                >

                            </div>
                            <img user="{{party}}" src="{% static 'restaurants/images/userIcon.png' %}">
                            <div class="userText">
                                <p>{{party.lastName}} </p></br>
                            </div>
                            <button name="remove"><a href="/restaurants/removeParty/{{party.id}}">Remove</a></button>
                        </div>
                    {% endfor %}
                </div>
                <!-- This is the iterative Django DB Call to display all users currently in the queue -->
            </div>
            <!------------------ THIS ENDS THE SECTION FOR THE SCROLLING QUEUE DIV ON THE LEFT SIDE OF THE DASHBOARD --------------------->




            <div class="subcontainer">
                <!------------------ THIS SECTION IS FOR THE TABLE DISPLAY FOR USERS CURRENTLY SAT ON THE TOP CENTER OF THE DASHBOARD ----------------->
                <div class="tableLayout">
                    <h2>Table Information (Current Operations)</h2>
                    <!-- This is the iterative Django DB Call to display all tables the host has added to the database-->
                    {% for table in tables %}
                        {% if not table.user%}
                        <div class="tableInfo empty">
                            <div class="table tableEmpty">
                                <p>{{table.name}}</br>Size: {{table.size}}</p>
                            </div>
                            <div class="currentTableInfo">
                                <p style="text-align: center;">No Party Seated</p><br>
                                <button><a href="/restaurants/tables/{{table.id}}/assign">Assign</a></button>
                            </div>
                        </div>
                        {% else %}
                        <div class="tableInfo">
                            <div class="table">
                                <p>{{table.name}}</br>Size: {{table.size}}</p>
                            </div>
                            <div class="currentTableInfo">
                                <p>{{table.user.lastName}}</p>
                                <p>Seated at {{table.user.time.time}}</p>
                                <button name="remove"><a href="/restaurants/checkoutParty/{{table.user.id}}">Checkout</a></button>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    <!-- This is the iterative Django DB Call to display all tables the host has added to the database-->
                </div>
                <!--------------------- THIS ENDS THE SECTION FOR THE TABLE DISPLAY FOR USERS CURRENTLY SAT ON TOP OF THE DASHBOARD ----------->
        
                <!--------------------- THIS SECTION IS FOR THE BY SIZE TABLE QUEUE AT THE BOTTOM OF THE DASHBOARD ------------------------>
                <div class="tableQueue">
                    <h2>Table Queue (Next Three Parties Per Table Size)</h2>

                    <div class="queue-flex">
                        <div class="tableSplit">
                            <!-- This iterates through users with a party size of one -->
                            <h3>Party: 1 </h3>
                            {% for party in parties %}
                                {% if party.partySize == 1%}
                                    <div class="userInfoTable">
                                        <div class="userText">
                                            <img src="{% static 'restaurants/images/userIcon.png' %}">
                                            <p>{{party.lastName}}</p></br>
                                            <p>{{party.waitTime}} min.</p></br>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="tableSplit">
                            <!-- This iterates through users with a party size of two -->
                            <h3>Party: 2 </h3>
                            {% for party in parties %}
                                {% if party.partySize == 2%}
                                    <div class="userInfoTable">
                                        <div class="userText">
                                            <img src="{% static 'restaurants/images/userIcon.png' %}">
                                            <p>{{party.lastName}}</p></br>
                                            <p>{{party.waitTime}} min.</p></br>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="tableSplit">
                            <!-- This iterates through users with a party size of three or four -->
                            <h3>Party: 3 - 4 </h3>
                            {% for party in parties %}
                                {% if party.partySize == 4 or party.partySize == 3%}
                                    <div class="userInfoTable">
                                        <div class="userText">
                                            <img src="{% static 'restaurants/images/userIcon.png' %}">
                                            <p>{{party.lastName}}</p></br>
                                            <p>{{party.waitTime}} min.</p></br>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>


                        <div class="tableSplit tableSplitEnd">
                            <!-- This iterates through users with a party size of five or greater -->
                            <h3>Party: 5+ </h3>
                            {% for party in parties %}
                                {% if party.partySize > 4%}
                                    <div class="userInfoTable">
                                        <div class="userText">
                                            <img src="{% static 'restaurants/images/userIcon.png' %}">
                                            <p>{{party.lastName}}</p></br>
                                            <p>{{party.waitTime}} min.</p></br>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-------------------------- THIS ENDS THE SECTION FOR THE BY SIZE TABLE QUEUE AT THE BOTTOM OF THE DASHBOARD ------------------->
        </div>
    </div>


    <!------------------------------------------ THIS SECTION IS FOR THE QUEUE MODAL --------------------------------------------------------->
    <div class="modal">
        <div class="modal-content">
            <h1><span>Name:&nbsp&nbsp </span></h1><h1 id="name"></h1></br>
            <h1><span>Email:&nbsp&nbsp </span></h1><h1 id="email"></h1></br>
            <h1><span>In Queue:&nbsp&nbsp </span></h1><h1 id="time"></h1></br>
            <h1><span>Party Size:&nbsp&nbsp</span></h1><h1 id="partySize"></h1></br>
            <button id="remove" name="remove"></button>
        </div>
    </div>

    <div class="new-customer">
        <div class="new-cust-contents">
            <form action="/restaurants/createuser" method="post">
                {% csrf_token %}
                <h4>Name:</h4>
                <input type="text" name="name">
                <h4>Email:</h4>
                <input type="email" name="email">
                <h4>Party Size:</h4>
                <input type="text" name="partySize"><br/>
                <input type="submit" value="Submit">
            </form>
            <button id="cancel">Cancel</button>
        </div>
    </div>

    <script type="text/javascript">
        // User information modal
        var userBtns = document.querySelectorAll(".modal-btn");
        var modal = document.querySelector(".modal");
        var modalName = document.querySelector("#name");
        var modalEmail = document.querySelector("#email");
        var modalTime = document.querySelector("#time");
        var modalPartySize = document.querySelector("#partySize");
        var removeButton = document.querySelector("#remove");

        userBtns.forEach(function(button){
            button.addEventListener("click", function(){
                var userData = {
                    firstName: this.getAttribute("data-firstName"),
                    lastName: this.getAttribute("data-lastName"),
                    email: this.getAttribute("data-email"),
                    time: this.getAttribute("data-time"),
                    partySize: this.getAttribute("data-partySize"),
                    id: this.getAttribute("data-id")
                };
                
                var removeLink = '<a href="/restaurants/removeParty/' +userData.id+ '">Remove From Queue</a>'
                removeButton.innerHTML = removeLink;
                modalName.innerHTML = userData.firstName + " " + userData.lastName;
                modalEmail.innerHTML = userData.email;
                modalTime.innerHTML = userData.time;
                modalPartySize.innerHTML = userData.partySize;
                modal.style.visibility = "visible";
            });
        });

        modal.addEventListener("click", function(){
            modal.style.visibility = "hidden";
        });

        //New Customer Modal
        var custModal = document.querySelector(".new-customer");
        var newCustBtn = document.querySelector(".register");
        var cancelBtn = document.querySelector("#cancel");

        newCustBtn.addEventListener("click", () => {
            custModal.style.visibility = "visible";
        });

        cancelBtn.addEventListener("click", () => {
            custModal.style.visibility = "hidden";
        });
    </script>
</body>
</html>