<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{restaurant.name}} Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'restaurants/css/edit.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class = "header">
        <h1> <img src="{% static 'restaurants/images/Subline Primary_02.png' %}"> {{restaurant.name}} Queue Dashboard</h1>
        <a href="/restaurants/dashboard">DASHBOARD</a> <span>|||</span>
        <a href="/logout">LOGOUT</a>
    </div>

    <div class = "container">
        <div class = "editBox">
            <h2>Edit Restaurant Information</h2>
                <form>
                    <p>
                    <label>Restaurant Name:</label><input type="text" name="name">
                    <label>Restaurant Email:</label><input type="text" name="name">
                    </p>
                </form>



        </div>
        <div class = "editBox">
            <form>
                    <h2>Add Table To Restaurant Floor</h2>
    
    
            </form>



        </div>

    </div>
</body>
</html>
