<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{restaurant.name}} Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'restaurants/css/edit.css' %}">
    <link rel="stylesheet" href="{% static 'restaurants/css/messages.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class = "header">
        <h1> <img src="{% static 'restaurants/images/Subline Primary_02.png' %}"> {{restaurant.name}} Queue Dashboard</h1>
        <a href="/restaurants/dashboard">DASHBOARD</a> <span>|||</span>
        <a href="/logout">LOGOUT</a>
    </div>
    <div class = "messageBlock">
            {% if messages %}
            <ol>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ol>
            {% endif %}
    </div>

    <div class = "container">

        <div class = "editBox">
            <h2>Edit Restaurant Information</h2>
                <form action="/restaurants/{{restaurant.id}}/update" method="POST">
                    {% csrf_token %}
                    <label><span>Restaurant Name:</span> <input type="text" name="name" placeholder="(Leave Blank if No Change Needed)"></label>
                    <label><span>Restaurant Email:</span> <input type="email" name="email" placeholder="(Leave Blank if No Change Needed)"></label>
                    <label><span>New Password:</span> <input type="password" name="password" placeholder="(Leave Blank if No Change Needed)"></label>
                    <label><span>Confirm Password:</span> <input type="password" name="passwordConfirm" placeholder="(Leave Blank if No Change Needed)"></label>
                    <input class="submitButton" type="submit" value="Update Restaurant Info">
                </form>
        </div>
        <div class = "editBox">
            <h2>Add Table To Restaurant Floor</h2>
                <form action="/restaurants/tables/create" method="POST">
                {% csrf_token %}
                
                    <label><span>Table Name:</span><input type="text" name="tableName"></label>
                    <label><span>Table Size:</span><input type="text" name="tableSize"></label>
                    <input class="submitButton" type="submit" value="Add Table To Floor">
                </form>
        </div>
        <div class = "editBox">
            <h2>Current Tables on Floor:</h2>
                {% for table in tables%}
                <p><span>Name:</span> {{table.name}} <span>Size:</span> {{table.size}}</p>
                {% endfor %}
                
        </div>
    </div>
</body>
</html>
