<!DOCTYPE html>
<html lang="en">
	<head>
    	<title></title>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'restaurants/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'restaurants/css/messages.css' %}"> 
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet">

	</head>
    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="container">
                <img class="logo" src="{% static 'restaurants/images/Subline_logo.png' %}">

            <div class="login">
                <h1>Restaurant Login</h1>
                <form action="/restaurants/login" method="post">
                    {% csrf_token %}
                    <h4 class="email">Email:</h4>
                    <input class="emailBox" type="text" name="email">
                    <br>
                    <h4 class="password">Password:</h4>
                    <input class="passwordBox" type="password" name="password"><br>
                    <input class="button" type="submit" value="submit">
                </form>
                <a class="link" href="/restaurants/new">Not registered? Create an account!</a>
            </div>
        </div>
    </body>
</html>