<!DOCTYPE html>
<html lang="en">
	<head>
    	<title></title>
        <meta charset="utf-8">
	</head>
    <body>
        <form action="/restaurants/{{restaurant.id}}/update" method="post">
            <h4>Name:</h4>
            <input type="text" name="name">
            <h4>Email:</h4>
            <input type="email" name="email">
            <h4>Password:</h4>
            <input type="password" name="password">
            <h4>Confirm password:</h4>
            <input type="password" name="passwordConfirm">
            <input type="submit" value="submit">
        </form>
    </body>
</html>